/**=== Review wrapper CSS  ===**/
.apr-container {
    width: 100%;
    margin: 0 auto;
}

.apr-main-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
}

/**=== Review Item CSS  ===**/
.apr-product-top .apr-product-title {
    margin-bottom: 0;
}

.apr-product-item {
    box-shadow: 0 0 20px #ededed;
    margin-top: 20px;
    border-radius: 4px;
}

.apr-product-info {
    padding: 20px;
}

.apr-product-info ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.apr-product-top {
    padding: 25px 20px;
}

.apr-pros {
    width: 50%;
}

.apr-cons {
    width: 50%;
}

.apr-pros-cons {
    display: flex;
}

.apr-pros, .apr-cons {
    padding: 15px;
    border: 1px solid #ddd;
}

.apr-cons {
    margin-left: 10px;
}

.apr-pros {
    margin-right: 15px;
}

.apr-product-item .apr-pros h5, .apr-product-item .apr-cons h5 {
    text-transform: uppercase;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 14px;;
    margin-top: 0;
    margin-bottom: 10px;
}

.apr-product-item .apr-product-top h3 {
    margin-top: 0;
    font-size: 25px;
    line-height: 30px;
}

.apr-product-image {
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    transition: .4s;
}

.apr-pros-cons {
    margin-top: 30px;
}

.apr-btn:hover {
    background: #4C4CF1;
    color: #f1f1f1;
}

.apr-btn {
    padding: 10px 35px;
    display: inline-block;
    border: 1px solid #4C4CF1;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    transition: .4s;
}

.apr-action {
    text-align: center;
    margin-bottom: 30px;
}

.apr-product-image:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    background: #333;
    content: "";
    opacity: .4;
    transition: .4s;
}

.apr-product-image:hover:after {
    height: 100%;
}

.apr-pros-cons ul li {
    margin-bottom: 5px;
    margin-left: 0;
    font-size: 14px;
    font-weight: 400;
}

/**=== Responsive CSS  ===**/


@media (min-width: 1536px) {

}

@media (min-width: 1280px) {

}

@media (min-width: 1024px) {

}

@media (max-width: 768px) {
    .apr-product-item .apr-product-top h3 {
        margin-top: 0;
        font-size: 25px;
        line-height: 30px;
    }

    .apr-product-info {
        padding: 20px;
    }

    .apr-product-top {
        padding: 20px;
    }

    .apr-product-image {
        height: 370px;
    }

    .apr-pros {
        margin-right: 0;
        width: 100%;
        margin-top: 15px;
    }

    .apr-cons {
        margin-left: 0;
        width: 100%;
        margin-top: 15px;
    }

    .apr-pros-cons {
        display: block;
    }

    .apr-btn {
        padding: 10px 20px;
        font-size: 15px;
        font-weight: 400;
        background: #4C4CF1;
        color: #fff;
    }

    .apr-action {
        margin-bottom: 20px;
    }

    .apr-main-wrapper {
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .apr-container {
        width: 100%;
    }

}

@media (min-width: 768px) {

}

@media (min-width: 640px) {

}